In [20]:
import json
import pandas as pd

df = pd.read_csv('./radarChart.csv')

In [21]:
df

      classifi  pratica  audi521  inialcoo pibpercapita
0            3        4        2         5     15.152,8
1            2        4        1         9     15.152,8
2            2        4        2         5     15.152,8
3            2        4        3         3     15.152,8
4            4        4        3         4     15.152,8
5            4        2        1         9     15.152,8
6            2        2        1         9     15.152,8
7            4        9        3         4     15.152,8
8            2        2        5         1     15.152,8
9            2        3        1         4     15.152,8
10           4        3        1         9     15.152,8
11           2        4        2         4     15.152,8
12           2        3        1         5     15.152,8
13           2        3        1         4     15.152,8
14           1        4        5         5     15.152,8
15           2        4        2         4     15.152,8
16           2        3        3         4     15.152,8
17           9        3        1         9     15.152,8
18           2        3        1         9     15.152,8
19           1        4        2         4     15.152,8
20           2        3        3         4     15.152,8
21           9        4        2         4     15.152,8
22           1        3        2         4     15.152,8
23           2        1        4         4     15.152,8
24           2        4        1         9     15.152,8
25           2        3        2         4     15.152,8
26           4        2        1         9     15.152,8
27           4        3        1         9     15.152,8
28           3        3        3         3     15.152,8
29           2        4        2         3     15.152,8
...        ...      ...      ...       ...          ...
1510         2        4        3         5     17.028,6
1511         2        2        1         9     17.028,6
1512         2        4        1         9     17.028,6
1513         3        4        1         5     17.028,6
1514         3        4        1         4     17.028,6
1515         2        4        1         9     17.028,6
1516         2        3        3         2     17.028,6
1517         3        3        2         3     17.028,6
1518         2        3        1         9     17.028,6
1519         2        2        1         9     17.028,6
1520         3        4        3         4     17.028,6
1521         3        4        1         9     17.028,6
1522         3        4        3         5     17.028,6
1523         2        4        1         9     17.028,6
1524         2        4        1         9     17.028,6
1525         2        4        1         9     17.028,6
1526         2        4        1         9     17.028,6
1527         2        4        2         5     17.028,6
1528         2        3        2         5     17.028,6
1529         2        4        2         3     17.028,6
1530         2        2        2         5     17.028,6
1531         2        4        1         9     17.028,6
1532         2        4        2         5     17.028,6
1533         2        1        3         5     17.028,6
1534         3        4        3         5     17.028,6
1535         3        3        3         5     17.028,6
1536         2        2        1         9     17.028,6
1537         2        4        2         5     17.028,6
1538         2        4        1         9     17.028,6
1539         3        3        1         9       23.614

[1540 rows x 5 columns]

In [25]:
json_data = df.to_json()

In [26]:
with open('python_data.json', 'w') as outfile:
    json.dump(json_data, outfile)